{% ckan_extends  %}

{% block secondary_content %}
    {{ super() }}

    {% block package_export %}
        {% if h.kgcreation_show_export() %}
            {% set site_url = h.config_get('ckan.site_url', '').rstrip('/') %}
            {% set path = url_for('dataset.read', id=pkg.name) %}
            {% set url_pkg = site_url ~ path %}

            <section class="module module-narrow module-shallow export">
                <h2 class="module-heading"><i class="fa fa-share-square-o"></i> {{_('Export Metadata')}}</h2>
                <p class="module-content">
                    <a href="{{ url_pkg }}.xml" download="">RDF/XML</a>
                    <a href="{{ url_pkg }}.n3" download="">Notation3&nbsp;(N3)</a>
                    <a href="{{ url_pkg }}.ttl" download="">Turtle&nbsp;(TTL)</a>
                    <a href="{{ url_pkg }}.jsonld" download>JSON-LD</a>
                    <a href="{{ url_pkg }}/graph" target="_blank">Graph</a>
                </p>
            </section>
        {% endif %}
    {% endblock %}
{% endblock %}
